---
import Hamburger from "./Hamburger.astro";
import Navegacion from "./Navegacion.astro";
import ThemeIcon from "./ThemeIcon.astro";

---

<header>
    <nav>
        <Hamburger/>
        <ThemeIcon/>
        <Navegacion/>
    </nav>
</header>